#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContent {
  text-align: center;

  font-family: "Roboto Condensed", sans-serif;
}

.mainContentIfAngleMoreThanZero {
  text-align: center;

  font-family: "Roboto Condensed", sans-serif;
}
.newAngleButton {
  font-family: "Roboto Condensed", sans-serif;
  padding: 0.5rem;
  color: black;
  border: 2px solid #c0392b;
  background-color: white;
  border-radius: 5px;
  font-size: large;
  box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.2);
  outline: none;
  transition-duration: 0.4s;
}

.newAngleButton:hover {
  background-color: #c0392b;
  color: white;
}

body {
  background-color: #3498db;
}
.imgDiv {
  position: relative;
  top: -20rem;
}
