.mainContainer {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

.mainContent {
  font-family: "Roboto Condensed", sans-serif;
}
.newAnglebutton {
  font-family: "Roboto Condensed", sans-serif;
}
